/*------------------------------->ОБНУЛЕНИЕ*/
*, 
*::before, 
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1;
	font-family: "Manrope";
	color: #333333;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1170px;
	margin: 0 auto;
}

@media (max-width: 1199.98px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 990.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
		padding: 0 15px;
	}
}
/*--------------------------->END ОБНУЛЕНИЕ*/
/*---------------------------------------------------->HEADER*/
.header {
}
.header__container {
	display: flex;
	justify-content: space-between;
	min-height: 103px;
	align-items: center;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (max-width: 767.98px) {
	.header__container {
		flex-direction: column;
		min-height: 0;
	}
}

.header_logo {
	font-weight: 800;
	font-size: 23px;
	color: inherit;
}
.header_menu {
}
/*====================>*/
.menu {
}
.menu_list {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 46px;
	grid-row-gap: 15px;
}
.menu_item {
}

.menu_link {
	font-size: 13px;
	font-weight: 700;
	color: inherit;
}

.menu_link:hover {
	text-decoration: underline;
}

@media (max-width: 767.98px) {
	.menu_list {
		justify-content: center;
	}
	.menu_link {
		font-size: 18px;
	}
}
/*------------------------------------------------>END HEADER*/

